<template name="assist">
  <!-- assist start -->
            <div class="col-md-4 column">
              <dl>
                <dt>
                  @someone
                </dt>
                <dd>
                  Here's a hug! *hug*
                </dd>
                <dt>
                  @someoneElse
                </dt>
                <dd>
                  Virtual love in a non-dirty way!
                </dd>
              </dl>
            </div>
  <!-- assist end -->
</template>
