<template name="taskList">
  <!-- profile start -->
    				<div class="col-md-2 column">
    					<img alt="140x140" src="http://lorempixel.com/70/70/" class="img-thumbnail">
              <strong>@dhettema</strong><br>
              <span class="label label-info">followers: 200</span>
              <span class="label label-primary">following: 900</span>
              <span class="label label-default">tweets: 2,500</span>
    				</div>
  <!-- profile end -->

  <!-- task start -->
    				<div class="col-md-6 column">
    					<div class="panel panel-default">
    						<div class="panel-heading">
    							<h3 class="panel-title">
    								help @dhettema with
    							</h3>
    						</div>
    						<div class="panel-body">
    							I need a virtual hug
    						</div>
    						<div class="panel-footer">
                  <div class="btn-group btn-group-xs">
        						 <button class="btn btn-default" type="button"><em class="fa fa-child"></em> Help out!</button> <button class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-center"></em> Center</button> <button class="btn btn-default" type="button"><em class="fa fa-frown-o"></em> Frown upon</button> <button class="btn btn-default" type="button"><em class="fa fa-share-square"></em> Share</button>
        					</div>
    						</div>
    					</div>
    				</div>
  <!-- task end -->

  <!-- assist start -->
    				<div class="col-md-4 column">
    					<dl>
    						<dt>
    							@someone
    						</dt>
    						<dd>
    							Here's a hug! *hug*
    						</dd>
    						<dt>
    							@someoneElse
    						</dt>
    						<dd>
    							Virtual love in a non-dirty way!
    						</dd>
    					</dl>
    				</div>
  <!-- assist end -->

</template>
